<div class='container__header'>

    <!-- hidden components (new file, save file, loaf file) for the dropdown menu-->
    <div style="display: none;">
        <file-new></file-new>
        <file-save></file-save>
        <file-load></file-load>
        <load-url></load-url>
        <window-message></window-message>
        <javascript-save></javascript-save>
        <input id='hidden_node_selection' value=''>
        <input id='hidden_node_selection_button' (click)=updateNode() >
        <input id='hidden_notify_button' value='' (click)=notifyMessage($event) >
        <input id='hidden_update_inline_func' value='' (click)="searchInlineFuncs()">
    </div>

    <!-- buttons -->
    <div class='header-btn-group'>

        <!-- buttons to navigate to the 4 pages -->
        <button class='btn' [class.active]='getUrl()=="/about"' [routerLink]="'/about'" title='About'>
            <mat-icon svgIcon="icon_home"></mat-icon>
        </button>
        <button class='btn' [class.active]='getUrl()=="/gallery"' [routerLink]="'/gallery'" title='Gallery'>
            <mat-icon svgIcon="icon_gallery"></mat-icon>
        </button>
        <button class='btn' [class.active]='getUrl()=="/dashboard"' [routerLink]="'/dashboard'" title='Dashboard'>
            <mat-icon svgIcon="icon_dashboard"></mat-icon>
        </button>
        <button class='btn' [class.active]='getUrl()=="/flowchart"' [routerLink]="'/flowchart'" title='Flowchart'>
            <mat-icon svgIcon="icon_flowchart"></mat-icon>
        </button>
        <button class='btn' [class.active]='getUrl()=="/editor"' [routerLink]="'/editor'" title='Editor'>
            <mat-icon svgIcon="icon_editor"></mat-icon>
        </button>
                
        <!-- execute button -->
        <div class='executeCls' [class.disabled]='!executeCheck'>
            <execute ></execute>
        </div>
    </div>

    <div class='nodename-container' *ngIf='nodeListCheck'>
        <div id = 'node-name' (click)='openNodeMenu($event)'><span id='node--name' title='{{getNode().name}}'>{{flowchart.meta.selected_nodes[0]}}. {{getNode().name}}</span><span id='node--arr'>▾</span></div>
        <div id="nodeMenu">
            <li *ngFor='let nd of flowchart.nodes; let i = index;' (click)="changeNode(i)"> 
                {{i}}. {{nd.name}}
            </li>
        </div>
    </div>

    <div class='filename-container' *ngIf='executeCheck'>
        <!-- <div class = "divider"></div> -->

        <!-- <div id='filename' (click)='openMobiusDropdownMenu($event)'>{{getTitle()}}</div> -->
        <button id='mobiusDropdownMenuButton' class='menu-btn' (click)='openMobiusDropdownMenu($event)' title='Menu'>
            <mat-icon svgIcon='icon_menu'></mat-icon>
        </button>
        <div class='dropdownContainer'>
            <div id="mobiusDropdownMenu">
                <button onclick="document.getElementById('newfile').click();"
                title="Create a new Möbius script file"> 
                    <mat-icon svgIcon='icon_rotate_left'></mat-icon>
                    New File
                    <button id='pageHelpButton' class='help-btn' (click)='openMenuHelp($event, "new file")'>
                        <mat-icon class='icon' svgIcon='icon_help'></mat-icon>
                    </button>
                </button>
                <br>
                <button (click)="loadFile()"
                title="Load Möbius script file from computer">
                    <mat-icon svgIcon='icon_launch'></mat-icon>
                    Load File 
                    <button id='pageHelpButton' class='help-btn' (click)='openMenuHelp($event, "load file")'>
                        <mat-icon class='icon' svgIcon='icon_help'></mat-icon>
                    </button>
                </button>
                <br>
                <button onclick="document.getElementById('savefile').click();"
                title="Save Möbius script file to computer">
                    <mat-icon svgIcon='icon_save_alt'></mat-icon>
                    Save File
                    <button id='pageHelpButton' class='help-btn' (click)='openMenuHelp($event, "save file")'>
                        <mat-icon class='icon' svgIcon='icon_help'></mat-icon>
                    </button>
                </button>
                <br>
                <button (click)="openHeaderDialog($event, 'savels')"
                title="Save Möbius script file to Local Storage">
                    <mat-icon svgIcon='icon_input'></mat-icon>
                    Save to LS
                    <button id='pageHelpButton' class='help-btn' (click)='openMenuHelp($event, "save to ls")'>
                        <mat-icon class='icon' svgIcon='icon_help'></mat-icon>
                    </button>
                </button>
                <br>
                <button onclick="document.getElementById('savejavascript').click();"
                title="Save Javascript code to computer">
                    <mat-icon svgIcon='icon_save'></mat-icon>
                    Save JS
                    <button id='pageHelpButton' class='help-btn' (click)='openMenuHelp($event, "save js")'>
                        <mat-icon class='icon' svgIcon='icon_help'></mat-icon>
                    </button>
                </button>
                <br>
                <button onclick="document.getElementById('savedata').click();"
                title="Save a static model to computer">
                    <mat-icon svgIcon='icon_play_for_work'></mat-icon>
                    Save Model
                    <button id='pageHelpButton' class='help-btn' (click)='openMenuHelp($event, "save model")'>
                        <mat-icon class='icon' svgIcon='icon_help'></mat-icon>
                    </button>
                </button>
                <br>
                <button (click)="openHeaderDialog($event, 'backup')"
                title="Manage files in Local Storage">
                    <mat-icon svgIcon='icon_autorenew'></mat-icon>
                    Local Storage 
                    <button id='pageHelpButton' class='help-btn' (click)='openMenuHelp($event, "local storage")'>
                        <mat-icon class='icon' svgIcon='icon_help'></mat-icon>
                    </button>
                </button>
                <br>
                <button (click)="openHeaderDialog($event, 'publish')"
                title="Publish a Möbius script">
                    <mat-icon svgIcon='icon_link'></mat-icon>
                    Publish
                    <button id='pageHelpButton' class='help-btn' (click)='openMenuHelp($event, "publish")'>
                        <mat-icon class='icon' svgIcon='icon_help'></mat-icon>
                    </button>
                </button>
                <br>
                <button (click)="openHeaderDialog($event, 'settings')"
                title="Möbius Settings">
                    <mat-icon class='mat-icon-svg' svgIcon='icon_settings'></mat-icon>
                    Settings
                    <button id='pageHelpButton' class='help-btn' (click)='openMenuHelp($event, "settings")'>
                        <mat-icon class='icon' svgIcon='icon_help'></mat-icon>
                    </button>
                </button>
            </div>
        </div>
        <button id='pageHelpButton' class='menu-btn' (click)='openPageHelp($event)' title='Page Help'>
            <mat-icon class='icon' svgIcon='icon_help'></mat-icon>
        </button>
    </div>
</div>

<dialog id='headerDialog'>
    <button class='closebutton' (click)='closeDialog(false)'><mat-icon class='icon'>close</mat-icon></button>
    <div id='headerDialog_publish'>
        <p>In order publish your script, your Möbius (.mob) file needs to be uploaded to cloud. Clicking the 'Upload' button 
        will upload the currently open script to the Mobius cloud. The file will be saved on the cloud for 1 year, after which it will be
        automatically deleted. It will not be possible to manually delete your file. Clicking the 'Use URL' button will allow 
        you to use a URL of script that you previously uploaded.</p>
        <br>
        <button (click)='publishUpload($event)'>Upload to Cloud</button>
        <button (click)="publishUrl($event)">Use URL</button>
    </div>
    <div id='headerDialog_publish_url'>
        <ng-container *ngIf="urlValid === true;else validateUrlTemplate">
            <p>The user interface of the published Mobius script can be configured below. In addition, you can generate
                two types of links: either a URL that can be shared or code that can be embedded in a web page or blog. </p>
            <br>
            <hr>
            <label>Select Mode</label><br>
            <input id='showPage1' type='radio' name='navMode' value='minimal' [(ngModel)]='publishUrlSettings.navMode'/>
            <label for='showPage1'>Visitor Mode</label><br>
            <input id='showPage2' type='radio' name='navMode' value='publish' [(ngModel)]='publishUrlSettings.navMode'/>
            <label for='showPage2'>Explorer Mode</label><br>
            <input id='showPage3' type='radio' name='navMode'  value='dashboard' [(ngModel)]='publishUrlSettings.navMode'/>
            <label for='showPage3'>Developer Mode</label><br>
            <hr>
            <ng-container *ngIf='publishUrlSettings.navMode === "dashboard"; else publish_template'>
                <label for='showPageNav1'>Active Pane</label><br>
                <input id='showPageNav1' type='radio' name='navPage' value='dashboard' [(ngModel)]='publishUrlSettings.navPage'/>
                <label for='showPageNav1'>Dashboard</label><br>
                <input id='showPageNav2' type='radio' name='navPage' value='flowchart' [(ngModel)]='publishUrlSettings.navPage' />
                <label for='showPageNav2'>Flowchart</label><br>
                <input id='showPageNav3' type='radio' name='navPage' value='editor' [(ngModel)]='publishUrlSettings.navPage' />
                <label for='showPageNav3'>Editor</label>
                <hr>
                <label for='showPageNav1'>Select Node</label><br>
                <input id='displayType2' type='radio' name='showNode' value='' [(ngModel)]='publishUrlSettings.showNode'/>
                <label for='displayType2'>Select End Node</label><br>
                <input id='displayType1' type='radio' name='showNode' value='&node=' [(ngModel)]='publishUrlSettings.showNode' />
                <label for='displayType1'>Select Specific Node</label>
                <ng-container *ngIf='publishUrlSettings.showNode == "&node="'>
                    Selected Node: <select [(ngModel)]='publishUrlSettings.showNodeIdx'>
                        <option *ngFor='let node of urlNodes; let i = index' value={{i}}>{{i}}. {{node.name}}</option>
                    </select>
                </ng-container>
                <hr>
            </ng-container>
            <ng-template #publish_template>
                <label>Show Viewers</label><br>
                <input id='radio3D' type='checkbox' [(ngModel)]='publishUrlSettings.showViewers[0]' /> <label for='radio3D'>CAD Viewer</label> <br>
                <input id='radioGeo' type='checkbox' [(ngModel)]='publishUrlSettings.showViewers[1]'/> <label for='radioGeo'>Geo Viewer</label> <br>
                <input id='radioVR' type='checkbox' [(ngModel)]='publishUrlSettings.showViewers[2]'/> <label for='radioVR'>VR Viewer</label> <br>
                <input id='radioConsole' type='checkbox' [(ngModel)]='publishUrlSettings.showViewers[3]'/> <label for='radioConsole'>Console</label> <br>
                <input id='radioDoc' type='checkbox' [(ngModel)]='publishUrlSettings.showViewers[4]'/> <label for='radioDoc'>Documentation</label> <br>
                <hr>
            </ng-template>
            <label>Active Viewer</label><br>
            <ng-container *ngIf='publishUrlSettings.navMode === "dashboard" || publishUrlSettings.showViewers[0]' >
                <input id='radioDefault3D' type='radio' name='defaultViewer' value='&defaultViewer=cad' [(ngModel)]='publishUrlSettings.defaultViewer'/>
                <label for='radioDefault3D'>CAD Viewer</label> <br>
            </ng-container>
            <ng-container *ngIf='publishUrlSettings.navMode === "dashboard" || publishUrlSettings.showViewers[1]' >
                <input id='radioDefaultGeo' type='radio' name='defaultViewer' value='&defaultViewer=geo' [(ngModel)]='publishUrlSettings.defaultViewer'/>
                <label for='radioDefaultGeo'>Geo Viewer</label> <br>
            </ng-container>
            <ng-container *ngIf='publishUrlSettings.navMode === "dashboard" || publishUrlSettings.showViewers[2]' >
                <input id='radioDefaultVR' type='radio' name='defaultViewer' value='&defaultViewer=vr' [(ngModel)]='publishUrlSettings.defaultViewer'/>
                <label for='radioDefaultVR'>VR Viewer</label> <br>
            </ng-container>
            <ng-container *ngIf='publishUrlSettings.navMode === "dashboard" || publishUrlSettings.showViewers[3]' >
                <input id='radioDefaultConsole' type='radio' name='defaultViewer' value='&defaultViewer=console' [(ngModel)]='publishUrlSettings.defaultViewer'/>
                <label for='radioDefaultConsole'>Console</label> <br>
            </ng-container>
            <ng-container *ngIf='publishUrlSettings.navMode === "dashboard" || publishUrlSettings.showViewers[4]'>
                <input id='radioDefaultDocs' type='radio' name='defaultViewer' value='&defaultViewer=doc' [(ngModel)]='publishUrlSettings.defaultViewer'/>
                <label for='radioDefaultDocs'>Documentation</label>
            </ng-container>
            <hr>
            <ng-container *ngIf='publishUrlSettings.defaultViewer === "&defaultViewer=doc"'>
                <label>Doc Section</label><br>
                <select [(ngModel)]='publishUrlSettings.docSection'>
                    <optgroup *ngFor='let docMod of docModList' label ={{docMod.name}}>
                        <option *ngFor='let section of docMod.modnames' value={{section}}>{{section.split('.')[1]}}</option>
                    </optgroup>
                </select>
                <hr>
            </ng-container>


            <button (click)='generateUrl()'>Create Link</button>
            <button (click)='generateEmbed()'>Create Embed Code</button>
    
            <div>
                <hr>
                Möbius Link:<br>
                <textarea [class.disabled]='true' id='generatedLink' disabled></textarea>
            </div>
        </ng-container>
        <ng-template #validateUrlTemplate>
            <p>You can publish a Möbius script (.mob) that you previously uploaded to an online file server that allows you to share the
                URL. (For example, you can upload your file to platforms such Github or Dropbox.) Please paste the URL for file below,
                and click 'Validate Url'. </p> <br>
            MOB file URL: <br>
            <textarea [(ngModel)]='publishUrlSettings.mainURL'
                    [class.valid]='urlValid === true' 
                    [class.invalid]='urlValid === false'
                    (keyup)='urlValid = undefined'></textarea><br>
            <button (click)='validateUrl()'>Validate URL</button>
        </ng-template>
    </div>
    <div id='headerDialog_backup'>
        <p>Select File from Local Storage: </p>
        <br>
        <div class="tab">
            <button class="tabLinks active" (click)="openTab($event, 'mobFilesContainer')">Mob Files</button>
            <button class="tabLinks" (click)="openTab($event, 'otherFilesContainer')">Others</button>
        </div>
        <div id="mobFilesContainer" class='tabContent active'>
            <div *ngFor='let backup of getBackupFiles()'>
                <div class='div--chbox'>
                    <input class="selectedBackup" type="checkbox" name={{backup}} [checked]='selectedBackup(backup)'>
                    <label for={{backup}} (click)="selectBackup(backup, $event)" (mousedown)="prevDef($event)"></label>
                </div>
                <button class='loadBackupButton' (click)="loadBackup($event, backup)" [disabled]="checkMobBackup(backup)">{{backup}}</button>
                <button class='backupDateButton' (click)="loadBackup($event, backup)" [disabled]="checkMobBackup(backup)">{{backupDates[backup]}}</button>
            </div>
        </div>
        <div id="otherFilesContainer" class='tabContent'>
            <div *ngFor='let backup of getBackupFiles(false)'>
                <div class='div--chbox'>
                    <input class="selectedBackup" type="checkbox" name={{backup}} [checked]='selectedBackup(backup)'>
                    <label for={{backup}} (click)="selectBackup(backup, $event)" (mousedown)="prevDef($event)"></label>
                </div>
                <button class='loadBackupButton' (click)="loadBackup($event, backup)" [disabled]="checkMobBackup(backup)">{{backup}}</button>
                <button class='backupDateButton' (click)="loadBackup($event, backup)" [disabled]="checkMobBackup(backup)">{{backupDates[backup]}}</button>
            </div>
        </div>
        <br>
        <button id='addBackupButton' onclick="document.getElementById('addBackup').click();">+</button>
        <input id='addBackup' type="file" (change)="addBackup()" style=" display: none;"/>
        <button class='downloadBackupButton' (click)="downloadBackup($event)"><mat-icon class='icon'>cloud_download_outline</mat-icon></button>
        <button class='deleteBackupButton' (click)="deleteBackup($event)"><mat-icon class='icon'>delete_outline</mat-icon></button>
    </div>
    <div id='headerDialog_globalfunc'>
        <p>Manage Global Functions: </p>
        <br>
        <div *ngFor='let fn of flowchart.functions'>
            <button class='globalFuncName' disabled>{{fn.name}}</button>
            <button class='manageGlobalButton' (click)='refresh_global_func($event, fn)'
            title='Refresh the function with mob file with the same name in the local storage'>
                <mat-icon class='icon'>cached</mat-icon>
            </button>
            <button class='manageGlobalButton' (click)='edit_global_func($event, fn)'
            title='Edit the global function'>
                <mat-icon class='icon'>edit</mat-icon>
            </button>
            <button class='manageGlobalButton' (click)='download_global_func($event, fn)'
            title='Download the global function'>
                <mat-icon class='icon'>get_app</mat-icon>
            </button>
            <button class='manageGlobalButton' (click)='delete_global_func($event, fn)'
            title='Delete the global function'>
                <mat-icon class='icon'>delete_outline</mat-icon>
            </button>
        </div>
        <button class='addGlobalButton' (click)="addGlobalFunc($event)">Import File</button>
        <button class='addGlobalButton' (click)="addGlobalFuncLS($event)">Import LS</button>
    </div>
    <div id='headerDialog_inlinefunc'>
        <p>Expression Builder</p>
        <br>
        <div class='inlineFuncContainer'>
            <input id='search_inline' class='searchBar' placeholder='Search Inline Function' value='' (keyup)="searchInlineFuncs()">
            <br>
            <br>
            <ng-container *ngFor='let fnCategory of searchedInlineFunc'>
                <button  id='inlineAcc_{{fnCategory[0]}}' class='inlinefuncAccordion' (mousedown)='disableFocus($event)' (click)='openInlineMenu($event, fnCategory[0])'>{{fnCategory[0]}}</button>
                <div id='inlinefunc_{{fnCategory[0]}}' class='inlinefuncDiv'>
                    <ul class='inlinefuncUL'>
                        <li *ngFor='let fn of fnCategory[1]' (mousedown)='disableFocus($event)' (click)='addInlineFunc(fn)'>
                            {{fn}}
                            <button class='helpButton' mat-icon-button title="Help" tabindex="-1" (click)='updateInlineHelpText($event, fn, fnCategory[0])'>
                                <mat-icon class='icon' svgIcon='icon_help'></mat-icon>
                            </button>
                        </li>
                    </ul>
            </div>
            </ng-container>
        </div>
        <div class='inlineFuncHelpContainer' id='inlineHelp'>
            <p>Inline Function Help</p>
        </div>
        <div class='inlineFuncExpressionContainer'>
            <textarea id='inlineExpression' class='inlineFuncExpression' placeholder='Expression' (mousedown)='textareaMousedown = true'></textarea>
        </div>
        <div class='inlineFuncSaveButtonContainer'>
            <button id='insertInlineExpression' class='disabled' (click)='insertInlineFunc()'>Insert</button>
            <button (click)='copyInlineFunc()'>Copy</button>
        </div>
    </div>
    <div id='headerDialog_savels'>
        <p>Save File to Local Storage as: </p>
        <br>
        <input id='savels-name' class='fileNameInput' name='savels-name' value={{flowchart.name}}>.mob
        <br>
        <br>
        <button class='saveButtons' (click)="saveBackup()">Apply</button>
        <button class='saveButtons' (click)="closeDialog(true)">Cancel</button>
    </div>
    <div id='headerDialog_settings'>
        <p>Mobius Settings:</p>
        <br>
        <div class='settingLine'>
            <div class='div--chbox'>
                <input id='settings-execute' 
                name='settings-execute' 
                type="checkbox" 
                [checked]='checkSetting("execute", true)'>
                <label for='settings-execute'></label>
            </div>

            <div class='textdiv'>Execute on file load</div>
            
        </div>
        <br>
        <div class='settingLine'>
            <div class='div--chbox'>
                <input id='settings-autosave' 
                name='settings-autosave' 
                type="checkbox" 
                [checked]='checkSetting("autosave", true)'>
                <label for='settings-autosave'></label>
            </div>
            <div class='textdiv'>Auto-saving file after executing</div>
        </div>
        <br>
        <div class='settingLine'>
            <div class='div--chbox'>
                <input id='settings-debug' 
                name='settings-debug' 
                type="checkbox" 
                [checked]='checkSetting("debug", true)'>
                <label for='settings-debug'></label>
            </div>
            <div class='textdiv'>Debug Mode</div>
        </div>
        <br>
        <br>
        <div class='settingLine'>
            <div class='textdiv'>Display Mobius Functions</div>
        </div>
        <br>
        <ng-container *ngFor='let category of func_categories'>
            <div class='settingLine'>
                <div class='div--chbox'>
                    <input id='_func_{{category}}' 
                    name='_func_{{category}}' 
                    type="checkbox" 
                    [checked]='checkSetting("_func_" + category, true)'>
                    <label for='_func_{{category}}'></label>
                </div>
                <div class='textdiv'>{{category}}</div>
            </div>
            <br>
        </ng-container>
        <br>
        <div class='settingLine'>
            <p>WebGL Renderer: {{getRendererInfo()}}</p>
        </div>
        <br>
        <br>
        <br>
        <button class='settingsButton' (click)="closeDialog()">Cancel</button>
        <button class='settingsButton' (click)="updateSettings()">Apply</button>
    </div>
</dialog>
