<div class='viewers-container'>  

    <div class='container__header'>
        <div class="header-btn-group">
            <button class='btn' mat-icon-button *ngFor='let view of Viewers;' id='{{view.name}}'
            [class.active]='view.name == activeView.name' (click)='updateView(view, true)' title='{{view.name}}'>
                <mat-icon [svgIcon]='"icon_"+view.name'></mat-icon>
            </button>
        </div>
    </div>

    <div class='content__panel'>
        <ng-container #vc></ng-container>
    </div>

</div>